@page "/"
@inject HttpClient httpClient;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<div style="mt-5">
    <button @onclick="HandleClickQuery" class="cds--btn cds--btn--primary cds--btn--md">
        Get Database Query
    </button>
</div>

@code
{
    private async Task HandleClickQuery()
    {
        var response = await httpClient.GetStringAsync("/api/Notion/GetDatabase");
        Console.WriteLine(response);
    }
}