@page "/notionAuth"
@using Microsoft.AspNetCore.WebUtilities
@using System.Net.Http.Headers
@using NotionAPI.Client;
@inject NavigationManager NavManager
@inject HttpClient httpClient

<h3>NotionAuth</h3>

@code {
    private NotionCode notionCode = new()
        {
            grant_type = "authorization_code",
            redirect_url = "https://localhost/notionAuth"
        };
    private NotionAccessToken notionAccessToken = new();

    protected override async Task OnInitializedAsync()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("code", out var param))
        {
            await GetAccessToken(param.First());
        }
    }

    private async Task GetAccessToken(string _code)
    {
        notionCode.code = _code;

        var test = await httpClient.PostAsJsonAsync<NotionCode>("api/Notion/Post", notionCode);
        Console.WriteLine(test);

    }

    private string Base64Encoding(string plainText)
    {
        var plainTextBytes = System.Text.Encoding.UTF8.GetBytes(plainText);
        return Convert.ToBase64String(plainTextBytes);
    }
}
